.container-fluid{
    background-image: url('../assets/img/login-fondo.jpg') ;
    min-height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form{
    margin-top: 30%;
}

label{
    color: white;
    font-weight: bold;
    font-size: large;
}